
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/fonts/styles.css">

    <script>
        function onLoad() {
            var btn = document.getElementById("selectorbtn");

            btn.addEventListener('click', function () {
                document.getElementById("here").scrollIntoView({ block: "center", behavior: "smooth" });
            });
        }

        function alert1() {
            var games = ["WOW", "PUBG", "Dota 2", "Battlefield 5", "CS:GO", "ap", "ps", "Fortnite", "Witcher 3"];
            var flag = false;
            for (var i = 0; i < 9; i++) {
                var cur_game = games[i];
                var e = document.getElementById(cur_game);
                var strUser = e.options[e.selectedIndex].value;
                if (strUser != "noneed") {
                    flag = true;
                }
            }
            if (flag == false) {
                alert("You need to choose at least one app to continue.");
            }
            
        }
    </script>

</head>
<body onload="onLoad()">
    <form action="/Home/About" method="post">
        <div class="textbox">
            <h1>WELCOME TO PLUTO</h1>
            <h4>
                Here you can build your PC
                </br>according to what you need
            </h4>

            <div class="containerask">
                <div class="left-half">
                    <h3>If you need an office PC </br> and work with Microsoft Office </br> or just surf the internet</h3>
                    <div>
                        <a href="/Home/Office" type="button" class="btn btn-white btn-animate">Click here</a>
                    </div>
                </div>
                <div class="right-half">
                    <h3>If you have other preferences</h3>
                    <h4>
                        Before we can start building your PC, </br>
                        please answer some questions about form-factor and </br>
                        your preferences about manufacturer
                    </h4>
                    </br>
                    <div>
                        <label for="lname">Form-factor</label>
                    </div>
                    <select class="ask-select" id="ff" name="ff">
                        <option value="nomatter">Doesn't matter</option>
                        <option value="atx">ATX</option>
                        <option value="itx">MiniITX</option>
                        <option value="mATX">MATX</option>
                    </select>
                    <div>
                        <label for="lname">CPU Manufacturer</label>
                    </div>
                    <select class="ask-select" id="mancpu" name="mancpu">
                        <option value="nomatter">Doesn't matter</option>
                        <option value="amd">AMD</option>
                        <option value="intel">Intel</option>
                    </select>
                    <div>
                        <label for="lname">GPU Manufacturer</label>
                    </div>
                    <select class="ask-select" id="mangpu" name="mangpu">
                        <option value="nomatter">Doesn't matter</option>
                        <option value="amd">AMD</option>
                        <option value="nvidia">NVIDIA</option>
                    </select>
                    <div></div>
                    <div>
                        <a href="#" type="button" onclick="return false" id="selectorbtn" class="btn btn-white btn-animate">Go to selector</a>
                    </div>
                </div>
        </div>
        </div>

        <div id="here" class="claas1">
            <div class="grid-container">
                <div class="header">
                    <h2>Choose which applications you want to use</h2>
                </div>

                <div class="left" style="background-color:#aaa;">
                    <div align="center">
                        <div>
                            <label for="fname">World of Warcraft</label>
                        </div>
                        <select id="WOW" name="WOW">
                            <option value="noneed">Do not need</option>
                            <option value="hg2160">High graphics, 2160p</option>
                            <option value="hg1080">High graphics, 1080p</option>
                            <option value="lg2160">Low graphics, 2160p</option>
                            <option value="lg1080">Low graphics, 1080p</option>
                        </select>
                    </div>
                    <div align="center">
                        <div>
                            <label for="lname">Adobe Photoshop</label>
                        </div>
                        <select id="ps" name="ps">
                            <option value="noneed">Do not need</option>
                            <option value="mp">Minimum performance</option>
                            <option value="rp">Recommended performance</option>
                        </select>
                    </div>
                    <div align="center">
                        <div>
                            <label for="country">Adobe Premiere</label>
                        </div>
                        <select id="ap" name="ap">
                            <option value="noneed">Do not need</option>
                            <option value="mp">Minimum performance</option>
                            <option value="rp">Recommended performance</option>
                        </select>
                    </div>
                </div>
                <div class="middle" style="background-color:#bbb;">
                    <div align="center">
                        <div>
                            <label for="fname">CS:GO</label>
                        </div>
                        <select id="CS:GO" name="CS:GO">
                            <option value="noneed">Do not need</option>
                            <option value="hg2160">High graphics, 2160p</option>
                            <option value="hg1080">High graphics, 1080p</option>
                            <option value="lg2160">Low graphics, 2160p</option>
                            <option value="lg1080">Low graphics, 1080p</option>
                        </select>
                    </div>
                    <div align="center">
                        <div>
                            <label for="lname">Battlefield 5</label>
                        </div>
                        <select id="Battlefield 5" name="Battlefield 5">
                            <option value="noneed">Do not need</option>
                            <option value="hg2160">High graphics, 2160p</option>
                            <option value="hg1080">High graphics, 1080p</option>
                            <option value="lg2160">Low graphics, 2160p</option>
                            <option value="lg1080">Low graphics, 1080p</option>
                        </select>
                    </div>
                    <div align="center">
                        <div>
                            <label for="country">Witcher 3</label>
                        </div>
                        <select id="Witcher 3" name="Witcher 3">
                            <option value="noneed">Do not need</option>
                            <option value="hg2160">High graphics, 2160p</option>
                            <option value="hg1080">High graphics, 1080p</option>
                            <option value="lg2160">Low graphics, 2160p</option>
                            <option value="lg1080">Low graphics, 1080p</option>
                        </select>
                    </div>
                </div>
                <div class="right" style="background-color:#ccc;">
                    <div align="center">
                        <div>
                            <label for="fname">Fortnite</label>
                        </div>
                        <select id="Fortnite" name="Fortnite">
                            <option value="noneed">Do not need</option>
                            <option value="hg2160">High graphics, 2160p</option>
                            <option value="hg1080">High graphics, 1080p</option>
                            <option value="lg2160">Low graphics, 2160p</option>
                            <option value="lg1080">Low graphics, 1080p</option>
                        </select>
                    </div>
                    <div align="center">
                        <div>
                            <label for="lname">PUBG</label>
                        </div>
                        <select id="PUBG" name="PUBG">
                            <option value="noneed">Do not need</option>
                            <option value="hg2160">High graphics, 2160p</option>
                            <option value="hg1080">High graphics, 1080p</option>
                            <option value="lg2160">Low graphics, 2160p</option>
                            <option value="lg1080">Low graphics, 1080p</option>
                        </select>
                    </div>
                    <div align="center">
                        <div>
                            <label for="country">Dota 2</label>
                        </div>
                        <select id="Dota 2" name="Dota 2">
                            <option value="noneed">Do not need</option>
                            <option value="hg2160">High graphics, 2160p</option>
                            <option value="hg1080">High graphics, 1080p</option>
                            <option value="lg2160">Low graphics, 2160p</option>
                            <option value="lg1080">Low graphics, 1080p</option>
                        </select>
                    </div>
                </div>

                <div class="footer">
                    <div align="center">
                        <input onclick="alert1()" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
