@{
    ViewBag.Title = "Office PC";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/fonts/styles.css">
</head>
<body>
    <div class="class2">

        <h3 style="text-align:center;"> Here is your PC build with now available parts </h3>
        <table class="bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Model</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tr>
                <td>CPU</td>
                <td><a href="https://www.citilink.ru/catalog/computers_and_notebooks/parts/cpu/1067855/">Intel Pentium Gold G5400</a></td>
                <td>4350</td>
            </tr>
            <tr>
                <td>GPU</td>
                <td><a href="#">Встроенное видеоядро в ЦП</td>
                <td>0</td>
            </tr>
            <tr>
                <td>RAM</td>
                <td><a href="https://www.citilink.ru/catalog/computers_and_notebooks/parts/memory/380326/">AMD R7 Perfomance Series DDR4 8GB</td>
                <td>2490</td>
            </tr>
            <tr>
                <td>Motherboard</td>
                <td><a href="https://www.citilink.ru/catalog/computers_and_notebooks/parts/motherboards/1107888/">Gigabyte H310M H 2.0</td>
                <td>3770</td>
            </tr>
            <tr>
                <td>SSD</td>
                <td><a href="https://www.citilink.ru/catalog/computers_and_notebooks/hdd/ssd_in/1056977/">AMD Radeon R5 SSD 240GB</td>
                <td>2890</td>
            </tr>
            
            <tr>
                <td>Case</td>
                <td><a href="https://www.citilink.ru/catalog/computers_and_notebooks/parts/cases/1169262/">mATX LINKWORLD Black Case</a></td>
                <td>1180</td>
            </tr>
            <tr>
                <td>14680</td>
            </tr>
        </table>
    </div>
</body>


</html>
